*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.sha256
/outputs/
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
*.log
.kotlin

