<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tg" />
        </intent>
        <package android:name="org.telegram.messenger" />
        <package android:name="org.telegram.messenger.web" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher_legacy"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@drawable/ic_launcher_legacy"
        android:supportsRtl="true"
        android:theme="@style/Theme.MtproxyFinder"
        android:usesCleartextTraffic="false">

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SubscriptionGateActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ProxyListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ProxyLoadingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".MergeProxiesActivity"
            android:exported="false" />

        <activity
            android:name=".CheckFileActivity"
            android:exported="false" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ui.AppearanceActivity"
            android:exported="false"
            android:parentActivityName=".ui.SettingsActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.AboutActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ui.UserSourcesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ui.ScanSettingsActivity" android:exported="false" android:parentActivityName=".ui.SettingsActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.InsightsActivity" android:exported="false" android:parentActivityName=".ui.SettingsActivity" />
        <activity android:name=".ui.QrToolsActivity" android:exported="false" android:parentActivityName=".ui.SettingsActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.HomeLayoutActivity" android:exported="false" android:parentActivityName=".ui.SettingsActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>

